# Supabase Configuration
VITE_SUPABASE_URL=https://ordvtxtfjupnukxrtmpj.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZHZ0eHRmanVwbnVreHJ0bXBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMjQ2NjMsImV4cCI6MjA5MzcwMDY2M30.p4PBAdABtBkYRa0hYxPkqi-mX3bMP79OskxxENheqfQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yZHZ0eHRmanVwbnVreHJ0bXBqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODEyNDY2MywiZXhwIjoyMDkzNzAwNjYzfQ.q8zc6J4O6E7CDgwMdcOto8zsMSx3TcUiKML2h9JUPZQ

# Server Configuration
PORT=3000
NODE_ENV=development
